@import "../../assets/main.scss";
.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;

  .clicablelogo {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $secondarycolor;

    .mainlogo {
      width: 5vh;
      height: 100%;
      margin: 0% 2% 0% 0%;

      :hover {
        filter: url(../../assets/img/logoblack.svg);
      }
    }
  }
}

.headerphone {
  display: none;
}
.headerpc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0%;
  position: static;
  top: 0;
  left: 0;
  width: 85%;
  margin: 0% auto;

  nav {
    width: 15%;
    display: flex;
    justify-content: space-around;

    a{
      margin: 0% 10%;
    }
  }

  a {
    color: $black;
    font-weight: 500;
    &:hover {
      color: $secondarycolor;
    }
  }
}

@media only screen and (max-width: $firstbreakpoint) {
  .headerphone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 0%;
    position: fixed;
    background-color: $maincolor;
    color: $secondarycolor;

    a {
      color: $secondarycolor;
      display: flex;
      flex-direction: column;
    }

    .mainlogo {
      width: 10vh;
      height: auto;
      margin: 0 auto;
    }
  }

  .headerpc {
    display: none;
  }
}
