@import "../../assets/main.scss";

.headerpc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0%;
  position: static;
  top: 0;
  left: 0;
  width: 85%;
  margin: 0% auto;
 
  

  .header-logo {
    width: 30%;

    img {
      width: 50%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $black;
    font-weight: 500;

    &:hover {
      color: $secondarycolor;
    }
  }
}
