@import "../../assets/main.scss";

.mainsection {
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5%;
  padding: 8% 2%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/img/1.jpg);
  background-blend-mode: overlay;
  background-position: center;

  .mainleft {
    width: 50%;
    h1 {
      font-size: 8vh;
      color: white;
      font-weight: bold;
      text-align: left;
    }

    h2 {
      font-size: 3vh;
      color: white;
      font-weight: normal;
      text-align: left;
    }
  }

  .buttons {
    margin: 1% 0;
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
}
