@import "../../assets/main.scss";

.mainsection {
  padding: 4% 0%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  width: 85%;

  .first {
    width: 50%;
    height: 50vh;

    h1 {
      font-size: 8vh;
      font-weight: 500;
      text-align: left;
      margin-bottom: 5%;
    }

    h2 {
      font-size: 3vh;
      font-weight: normal;
      text-align: left;
      margin-bottom: 5%;
      letter-spacing: 0.8em;
    }

    .buttons {
      margin: 4% 0;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    p{
      letter-spacing: 0.2em;
      font-weight: 400;
    }
  }

  .seconde {
    width: 50%;
    .photobox{
      background: #000;
      width: 90%;
      height: 60vh;
      margin: 0% 0% 0% auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../../assets/img/1.jpg");
    }
    
  }
}


@media only screen and (max-width: $firstbreakpoint) {
  .mainsection {
    flex-direction: column;
   .first{
    order: 2;
     width: 100%;
     h2{
       letter-spacing: 0.1em;
     }
   }
   .seconde{
     order: 1;
     width: 100%;
     .photobox{
        width: 100%;

      }
     }
   }
  
  }
