@import "../../assets/main.scss";

.mainsection {
  padding: 0.5%;
  padding: 8% 2%;
  height: 70vh;
  display: flex;
  flex-direction: column;


  .mainleft {
    width: 50%;
    h1 {
      font-size: 8vh;
      font-weight: 500;
      text-align: left;
    }

    h2 {
      font-size: 3vh;
      font-weight: normal;
      text-align: left;
    }
  }

  .buttons {
    margin: 1% 0;
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
}
