$maincolor: #f9f6e7;
$darkmaincolor: #fbff00;
$secondarycolor: #fb5555;
$black: #000000;
$white: #ffffff;
$whitesmoke: whitesmoke;
$firstbreakpoint: 1024px;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

%fontMonts {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3vh;
  font-weight: 500;
  @extend %fontMonts;
  margin: 1% 0%;
}

h2 {
  font-size: 2vh;
  font-weight: 300;
  @extend %fontMonts;
}

h3 {
  font-size: 1.8vh;
  font-weight: 700;
  @extend %fontMonts;
}

p,
span,
a,
ul,
li,
details,
summary,
input,
label,
button {
  line-height: 200%;
  font-size: 1.7vh;
  @extend %fontMonts;
}

h3,
h4,
h5,
span,
p {
  margin: 0%;
}

// style for main
main {
  width: 86%;
  margin: 6% auto;
}

section {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.mainbutton {
  border-radius: 5px;
  letter-spacing: 0.15em;
  background: $secondarycolor;
  border: 2px solid $secondarycolor;
  color: $white;
  padding: 1% 3%;
  width: 50%;
  margin: 1% 2% 1% 0%;
  text-align: center;
  font-weight: bold;

  &:hover {
    border: 2px solid transparent;
    background: $black;
    color: $maincolor;
  }
}

.subbutton {
  border-radius: 5px;
  letter-spacing: 0.15em;
  background: transparent;
  border: 2px solid $secondarycolor;
  color: $secondarycolor;
  padding: 1% 3%;
  width: 50%;
  margin: 1% 2% 1% 0%;
  text-align: center;
  font-weight: bold;
  &:hover {
    border: 2px solid transparent;
    background: $black;
    color: $maincolor;
  }
}

.commandebutton {
  border-radius: 5px;
  letter-spacing: 0.15em;
  background: $white;
  border: 2px solid $white;
  color: $black;
  padding: 1% 5%;
  margin: 3% 0%;
  width: 40%;
  text-align: center;
  font-weight: bold;
  &:hover {
    border: 2px solid transparent;
    background: $black;
    color: $maincolor;
  }
}
